@import "./_common.scss";

:root {
  --c--primary: #fff;
  --c--surface: #fafafa;
  --c-button-surface: #651fff;
}

body {
  margin: 0 auto;
  font-family: "Roboto Condensed", sans-serif;
  background-color: var(--c--surface);
  line-height: 1.4;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

//First form

.first-form__container {
  margin: 104px;
  background-color: var(--c--primary);
  max-width: 428px;
  width: 100%;
  padding: 0;
}

// Email

.email__box {
  margin-bottom: 16px;
}

::placeholder {
  color: #bab9bd;
}

// Password

.password__box {
  margin-bottom: 35px;
}

//Switch

.switch__box {
  display: flex;
  align-items: center;
}

.switch__text {
  margin-left: 8px;
  color: var(--gray-100, #484848);
  font-family: Inter;
  font-size: 14px;

  font-weight: 400;
  line-height: 20px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 28px;
  height: 16px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider.round {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #fd7918;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(11px);
}

//Forgot password

.forgot-passwords__box {
  display: flex;
  justify-content: center;
  margin: 32px 0;
}

.forgot-password__text {
  color: #651fff;
}

//Line

.line-line {
  border-radius: 10px;
  height: 2px;
  border: #ececee;
  background: var(--gray-400, #ececee);
}

//Other Sign in

.other-sign-up__box {
  display: flex;
  justify-content: center;
}

.other-sign-in__header {
  color: var(--gray-50, #5a5761);
  text-align: center;

  font-weight: 400;
  font-size: 16px;
  margin-bottom: 16px;
}

.other-sign-in-btn__box {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.google__button__img,
.facebook__button__img {
  max-width: 24px;
  max-height: 24px;
}




// Second form

.ch-container {
  position: relative;
  padding-left: 35px;
  margin: 16px 0;
  cursor: pointer;
  display: inline-flex;
  text-align: center;

  color: var(--gray-100, #484848);

  font-family: Inter;
  font-size: 14px;

  font-weight: 400;
  line-height: 20px;
}

.input-container {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border-radius: 3px;
  background-color: #eee;
}

.input-container:checked ~ .checkmark {
  background-color: #fd7918;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.input-container:checked ~ .checkmark:after {
  display: block;
}

.ch-container .checkmark:after {
  left: 7px;
  top: 4px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.checkbox__content {
  display: inline-flex;
}

//Message

.message__content {
  display: inline-flex;
  flex-direction: column;
  margin-top: 16px;
  margin-bottom: 32px;
  gap: 4px;
  width: 100%;
}

.message__textarea {
  padding: 8px;
  border-radius: 5px;
  background: var(--gray-500, #f3f3f5);
  border: #f3f3f5;
}


.third-form-left__content {
  padding: 46px 16px 32px 16px;
  width: 100%;
  max-width: 665px;
  border-radius: 10px 0px 0px 10px;
  background: var(--purple-100, #651fff);
  height: 100%;
}

.heading__box {
  margin-bottom: 32px;
}




//Third form right side

.third-form-right__row {
  margin-bottom: 16px;
}

.third-form-right__content {
  padding: 32px;
  width: 100%;
  max-width: 665px;
}

.heading2 {
  color: var(--c--primary);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.32px;
}

//Textarea Message

.message__textarea {
  padding: 8px 0px 0px 12px;
  height: 74px;
  border-radius: 5px;
  background: var(--gray-500, #f3f3f5);
  border: #f3f3f5;
}


@media screen and (max-width: 480px) { 
  
  .button {
    width: 100%;
  }
  .content__box {
    padding: 16px;
  }
  
  .container {
    margin: 50px auto;
    background-color: var(--c--primary);
    max-width: 343px;
    width: 100%;
    padding: 0;
  }

  .third-form-right__row,
  .second-form-info__row,
  .fourth-form-row,
  .fourth-form-order__row,
  .fourth-form-order__row,
  .fourth-form-order__row {
    display: flex;
    flex-direction: column;
  }

  .second-form-info-column,
  .third-form-right__column,
  .fourth-form-order__column,
  .fourth-form-small__column,
  .fourth-form-delivery__column,
  .fourth-form-delivery__column--second,
  .fourth-form__column {
    width: 100%;
  }

  .second-form-checkbox__column {
    width: 100%;
  }

  .third-form-left__column {
    display: none !important;
  }

  .third-form-right-info__column {
    width: 100%;
    margin-bottom: 4px;
  }

  .fourth-form-delivery__column {
    padding-top: 32px;
  }

  .fourth-form-order__row {
    display: flex;
    flex-direction: row;
  }

  .fourth-form__column--small {
    width: 50%;
    margin-top: 8px;
  }

  .info__item{
    width: 100%;
    display: flex;
    flex-direction: row;
  }

}
