@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  margin: 0 auto;
  font-family: "Roboto Condensed", sans-serif;
  background-color: #fafafa;
}

* {
  box-sizing: border-box;
}

.btn:hover {
  background-color: #4d19be;
  color: white;
}

.first-form__container {
  margin: 104px;
  background-color: #fff;
  max-width: 428px;
  width: 100%;
  padding: 0;
}

.form__content {
  padding: 32px;
  width: 100%;
  max-width: 428px;
}

// Email

.email__box {
  margin-bottom: 16px;
}

.email__text {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.email__input {
  margin-top: 4px;
  display: flex;
  padding: 12px 14px 12px 12px;
  align-items: flex-start;
  width: 100%;
  border: #fafafa;
  background: var(--gray-600, #fafafa);
}
::placeholder {
  color: #bab9bd;
}

// Password
.password__box {
  margin-bottom: 35px;
}

.password__text {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.password__input {
  display: flex;
  margin-top: 4px;
  padding: 12px 14px 12px 12px;
  align-items: flex-start;
  width: 100%;

  border: #fafafa;
  background: var(--gray-600, #fafafa);
}

//Switch

.switch__box {
  display: flex;
  align-items: center;
}

.switch__text {
  margin-left: 8px;
  color: var(--gray-100, #484848);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 28px;
  height: 16px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider.round {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #fd7918;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(11px);
}

//submit

.sign-in__box {
  margin: 32px 0;
}

.sign-in__btn {
  display: flex;
  padding: 12px 48px;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  width: 100%;
  border: #651fff;
  background: var(--purple-100, #651fff);
  color: #ffffff;
}

//forgot password

.forgot-passwords__box {
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
}

.forgot-password__text {
  color: #651fff;
}

//Line

.line-line {
  border-radius: 10px;
  height: 2px;
  border: #ececee;
  background: var(--gray-400, #ececee);
}

//Other Sign in

.other-sign-up__box {
  display: flex;
  justify-content: center;
}
.other-sign-in__header {
  color: var(--gray-50, #5a5761);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 16px;
}

.google__button,
.facebook__button {
  padding: 12px 73px;
  border-radius: 5px;
  border: 1px solid var(--gray-400, #ececee);
  background: var(--White, #fff);
}

.other-sign-in-btn__box {
  display: flex;
  justify-content: space-between;
}

.google__button__img,
.facebook__button__img {
  max-width: 24px;
  max-height: 24px;
}

.test p {
  background-color: red;
}

// Second form

.second-form__container {
  margin: 104px;
  background-color: #fff;
  max-width: 665px;
  width: 100%;
  padding: 0;
}

.second-form__content {
  padding: 32px;
  width: 100%;
  max-width: 665px;
}

.second-form-title__box {
  margin-bottom: 32px;
}

.second-form-title__header {
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: -0.64px;
}

.second-form-info__box {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 16px;
  padding: 0;
  gap: 4px;
}

.second-form-info__text {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.second-form-info__input {
  border-radius: 5px;
  background: var(--gray-600, #fafafa);
  border: #fafafa;

  display: flex;
  padding: 12px 14px 12px 12px;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}

.ch-container {
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  display: inline-flex;
  text-align: center;

  color: var(--gray-100, #484848);

  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.input-container {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border-radius: 3px;
  background-color: #eee;
}

.input-container:checked ~ .checkmark {
  background-color: #fd7918;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.input-container:checked ~ .checkmark:after {
  display: block;
}

.ch-container .checkmark:after {
  left: 7px;
  top: 4px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.second-form-checkbox__content {
  display: inline-flex;
}

//Message

.second-form-message__content {
  display: inline-flex;
  flex-direction: column;
  margin-top: 16px;
  margin-bottom: 32px;
  gap: 4px;
  width: 100%;
}

.second-form-message__text {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.second-form-message__textarea {
  padding: 8px;
  border-radius: 5px;
  background: var(--gray-500, #F3F3F5);
  border:#F3F3F5;

}

.second-form-input__content {
  display: flex;
  justify-content: flex-end;
}

// Submit

.second-form-submit__btn {
  padding: 12px 48px;
  align-items: center;

  border-radius: 5px;
  border: #651fff;
  background: var(--purple-100, #651fff);

  color: var(--White, #fff);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

//Third form left side

.third-form__container {
  margin: 104px;
  background-color: #fff;
  max-width: 665px;
  width: 100%;
  padding: 0;
}

.third-form-right__content {
  padding: 32px;
  width: 100%;
  max-width: 665px;
}

.third-fomr-left__content {
  padding: 46px 16px 32px 16px;
  width: 100%;
  max-width: 665px;
}

.third-fomr-left__content {
  border-radius: 10px 0px 0px 10px;
  background: var(--purple-100, #651fff);
  height: 100%;
}

.third-form-left-heading__box {
  margin-bottom: 32px;
}
.third-form-left-heading__heading {
  color: var(--White, #fff);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.32px;
}
.third-form-left-text__box {
  margin-bottom: 32px;
}

.third-form-left-text__text {
  color: var(--White, #fff);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.third-form-left__content {
  display: inline-flex;
  gap: 8px;
  margin-bottom: 16px;
}

.third-form-left__text {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

//Third form right side

.third-form-right-header__box {
  margin-bottom: 23px;
}

.third-form-right-header__header {
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: -0.64px;
}

.third-form-right-info__box {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 16px;
  padding: 0;
  gap: 4px;
}

.third-form-right-info__text {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.third-form-right-info__input {
  display: flex;
  padding: 12px 14px 12px 12px;
  align-items: flex-start;
  gap: 4px;
  align-self: stretch;

  border-radius: 5px;
  border: #fafafa;
  background: var(--gray-600, #fafafa);
}

//Phone number

.third-form-right-alone-info__content {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.third-form-right-alone-info__text {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.third-form-right-alone-info__input {
  display: flex;
  padding: 12px 14px 12px 12px;
  align-items: flex-start;
  gap: 4px;
  align-self: stretch;
  border-radius: 5px;
  border: #fafafa;
  background: var(--gray-600, #fafafa);
}

//Textarea Message

.third-form-right-message__content {
  display: flex;
  flex-direction: column;
  margin-bottom: 4px;
}

.third-form-right-message__text {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.third-form-right-message__textarea {
  padding: 8px 0px 0px 12px;
  height: 74px;
  border-radius: 5px;
  background: var(--gray-500, #F3F3F5);
  border:#F3F3F5;
}
//Submit button

.third-form-right-input__content {
  margin: 32px 0;
}

.third-form-right-input__content {
  display: flex;
  justify-content: flex-end;
}

.third-form-right-submit__btn {
  border-radius: 5px;
  border: #651fff;
  background: var(--purple-100, #651fff);
  color: white;
  padding: 12px 48px;
}

// Fourth form

.fourth-form__container {
  margin: 104px;
  background-color: #fff;
  max-width: 665px;
  width: 100%;
  padding: 0;
}

.fourth-form__content {
  padding: 32px;
  width: 100%;
  max-width: 665px;
}

.fourth-form-header__box {
  margin-bottom: 32px;
}

.fourth-form-header {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.64px;
}
//Order info

.info-header__box {
  margin-bottom: 16px;
}

.info-header__header {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.4px;
}

.order-info__box {
  display: flex;
  gap: 4px;
  flex-direction: column;
  margin-left: 50px;
  width: 100%;
}

.order-info__name {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

.order-info__info {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

//Delivery details

.delivery-details__box {
  margin-bottom: 16px;
}

.delivery-details__header {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.4px;
}

.client-info__box,
.shipping-info__box {
  display: flex;
  gap: 4px;
  flex-direction: column;
}

.client-info__name,
.shipping-info__text {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

.client-info__street,
.client-info__code,
.shipping-info__date,
.shipping-info__type {
  color: var(--gray-50, #5a5761);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.fourth-form-payment-method__content {
  display: inline-flex;
  gap: 0 8px;
}

//Payment Methods

.payment-method-header__box {
  margin-top: 32px;
  margin-bottom: 16px;
}

.payment-method-header__header {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.4px;
}

.payment-method__box {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 4px;
}

.payment-method__text {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.payment-method__input {
  border-radius: 5px;
  background: var(--gray-600, #fafafa);
  border: #fafafa;

  display: flex;
  padding: 12px 14px 12px 12px;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}

.fourth-form-input__content {
  margin: 32px 0;
  display: flex;
  justify-content: flex-end;
}

.fourth-form-input__btn {
  border-radius: 5px;
  border: #651fff;
  background: var(--purple-100, #651fff);
  padding: 12px 48px;
  color: var(--White, #fff);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

